@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    @*<ul class="nav navbar-nav navbar-right">*@
        @*<li><a href="#"><i class="ion-person"></i> Profile </a></li>*@
        @*<li>
            <a href="@Html.Action("Index", "Manage")"><i class="ion-person"></i> Manage</a>
            @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>*@
        @*<li class="dropdown-margin-bump"><a href="javascript:document.getElementById('logoutForm').submit()"><i class="ion-log-out"></i> Log off</a></li>*@
    @*</ul>*@
    }
    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="ion-log-out"></i> Log off</a></li>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
