@model BugTracker.Models.Tickets

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>Ticket: @Model.Title</h2>
    <h3>Project: @Model.Project.Name</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Submitted by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerUser.Displayname)
        </dd>

        <dt>
            Assigned to
        </dt>

        <dd>
            @if (Model.AssignedUser == null)
            {
                <span class="unassigned">Unassigned</span>
            }
            else
            {
                @Html.DisplayFor(model => model.AssignedUser.Displayname)
            }
        </dd>

        <dt>
            Priority
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPriority.Name)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketStatus.Name)
        </dd>

        <dt>
            Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

    </dl>
    <hr />
    <h3>Description of Issue</h3>
    <div id="issue">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>
@Html.Partial("_TicketAttachments")
@Html.Partial("_TicketComments")
@Html.Partial("_TicketHistory")
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ticket-history').DataTable();
        });
    </script>
}