@using PagedList
@using PagedList.Mvc
@model IPagedList<BugTracker.Models.Tickets>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_TicketNav")

<table class="table" id="data-table">
    <thead>
        <tr>
            <th>Prioirity</th>
            <th>
                Updated
            </th>
            <th>
                Status
            </th>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Title
            </th>
            <th>
                Assigned To
            </th>

            <th>
                Submitted By
            </th>
            <th>
                Created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td class="ticket-priority">
                @Html.DisplayFor(modelItem => item.TicketPriority.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedUser.Displayname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUser.Displayname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
               
                @if (ViewBag.UserId == item.AssignedUserId || User.IsInRole("Admin") || (User.IsInRole("Project Manager") && item.Project.Users.Contains(ViewBag.User)))
                {
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id })
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                }

                @if (User.IsInRole("Admin"))
                {
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                }
            </td>
        </tr>
    }
    </tbody>
</table>
@*<div id="paging">
    <span>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>
    <span>@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</span>
</div>*@
@section scripts {
    @Scripts.Render("~/js/PrioritySort.js")
    <script>
        $(document).ready(function () {
            $('#data-table').DataTable();
        });
    </script>
}