@using BugTracker.Models;
@model UsersAndRolesModel

<table id="user-list">
    <tr><th>Email</th><th>First Name</th><th>Last Name</th><th>Display Name</th><th>Roles</th></tr>
    @foreach (var item in Model.Users)
    {
        <tr>
            <td>@item.Email</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Displayname</td>
            <td>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken();
                    @Html.HiddenFor(modelItem => item.Id, new { uid="uid" })

                    @Html.CheckBox("Admin", item.inRole("Admin"), new { @class = "role" }) 
                    <span>Admin</span>

                    @Html.CheckBox("Project Manager", item.inRole("Project Manager"), new { @class = "role" })
                    <span>Project Manager</span>

                    @Html.CheckBox("Developer", item.inRole("Developer"), new { @class = "role" })
                    <span>Developer</span>

                    @Html.CheckBox("Submitter", item.inRole("Submitter"), new { @class = "role" })
                    <span>Submitter</span>
                }
            </td>
       </tr>
    }
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.role').change(function () {
                var url = "/Projects/ChangeUserRole";
                var uId = $(this).siblings[0].val();
                if (this.checked) {
                    //$.get(url, { input: name }, function (data) {
                    //    $("#rData").html(data);
                    //}
                } else {
                    //console.log("UNCHECKED");
                }
            });
        });
    </script>
    
}